*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

/* 테이블 감싸는 div */
#sm_calendar{
    width: 100%;
    padding: 10px;
    min-width: 800px;
    max-width: 1600px;
    margin: auto;
}

/* 테이블 */
#sm_calendar_table{
    position: relative;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: white;
}

#sm_calendar_table button{
    margin: 0 5px;
}

#sm_calendar_table td{
    border: 1px solid lightgray;
    padding: 0;
}

#sm_calendar_table td:first-child{
    border-top: 1px solid black;
}

#sm_calendar_table tr:not(:first-child) td:nth-child(2){
    color: red;
}

#sm_calendar_table tr:not(:first-child) td:nth-child(8){
    color: blue;
}

#sm_calendar_table td div:first-child{
    font-size: 14px;
    padding: 2px;
}

#sm_calendar_table td div:not(:first-child){
    width: 100%;
    text-align: left;
    color: black;
    font-size: 13px;
    padding: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: blanchedalmond;
}

/* #sm_calendar_table td div span:first-child{
    border: 1px solid gray;
    border-radius: 3px;
    background-color: lightgray;
    color: rgb(179, 37, 108);
} */

/* #sm_calendar_table td div span:last-child{
    color: green;
} */

/* 달력 버튼 및 셀렉박스 있는 행 */
#sm_calendar_manage_row{
    text-align: center;
}

#sm_calendar_todayBtn{
    position: absolute;
    left: 0;
    top: 6px;
    border: 0px;
    border-radius: 3px;
    background-color: rgb(196, 224, 139);
    color: black;
}

#sm_calendar_todayBtn:hover{
    cursor: pointer;
    background-color: rgb(219, 235, 186);
}

.sm_calendar_dayOfWeek{
    text-align: center;
}

.sm_calendar_today{
    background-color: rgb(196, 224, 139);
}

.sm_calendar_calBtn{
    border: 0px;
    background-color: rgb(57, 124, 168);
    border-radius: 3px;
    color: white;
}

.sm_calendar_calBtn:hover{
    cursor: pointer;
    background-color: rgb(100, 161, 201);
}

.sm_calendar_date_row{
    vertical-align: top;
    height: 120px;
}

.sm_calendar_dateTitle:hover{
    cursor: pointer;
    background-color: aquamarine;
}

.sm_calendar_lastNextCaption{
    font-weight: normal !important;
    color: gray !important;
}

.sm_calendar_weekCount{
    text-align: center;
    vertical-align: middle;
    background-color: rgb(208, 242, 255);
}

.sm_calendar_holiday{
    color: red !important;
}

.sm_calendar_moreInfo{
    background-color: white !important;
    color: black !important;
    text-align: center !important;
}

.sm_calendar_lunarDate{
    font-size: 10px;
}

@media screen and (max-width: 1200px){
    #calendar-table td div{
        font-size: 12px;
    }
    
    .date{
        font-size: 13px;
    }
}