*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

/* 테이블 감싸는 div */
#sm_calendar{
    position: relative;
    width: 1000px;
    height: 800px;
    padding: 10px;
    margin: auto;
}

/* 테이블 */
#sm_calendar_table{
    position: relative;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: white;
    min-width: 700px;
    min-height: 600px;
}

#sm_calendar_table button{
    margin: 0 5px;
}

#sm_calendar_table td{
    border: 1px solid lightgray;
    padding: 0;
}

#sm_calendar_table td:first-child{
    border-top: 1px solid black;
}

#sm_calendar_table tr:not(:first-child) td:nth-child(2){
    color: red;
}

#sm_calendar_table tr:not(:first-child) td:nth-child(8){
    color: blue;
}

.sm_calendar_dateList{
    width: 100%;
    text-align: left;
    color: black;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: blanchedalmond;
    position: relative;
}

.sm_calendar_dateList:hover{
    cursor: pointer;
    background-color: rgb(253, 212, 150);
}

.sm_calendar_date{
    padding: 0;
}

/* 달력 버튼 및 셀렉박스 있는 행 */
#sm_calendar_manageWrapper{
    height: 30px;
}

#sm_calendar_manage_row{
    text-align: center;
}

#sm_calendar_todayBtn{
    position: absolute;
    left: 0;
    top: 6px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(196, 224, 139);
    color: black;
}

#sm_calendar_todayBtn:hover{
    cursor: pointer;
    background-color: rgb(219, 235, 186);
}

.sm_calendar_dayOfWeek{
    text-align: center;
    height: 30px;
}

.sm_calendar_today{
    background-color: rgb(196, 224, 139);
}

.sm_calendar_calBtn{
    border: 1px solid black;
    background-color: rgb(208, 242, 255);
    border-radius: 3px;
    color: black;
}

.sm_calendar_calBtn:hover{
    cursor: pointer;
    background-color: rgb(100, 161, 201);
}

.sm_calendar_date_row{
    vertical-align: top;
}

.sm_calendar_date_row td{
    height: inherit;
}

.sm_calendar_divWrapper{
    height: 100%;
    padding: 0;
    font-size: 14px;
}

.sm_calendar_dateTitle,
.sm_calendar_dateList,
.sm_calendar_holiWrapper{
    height: 22px;
    padding: 2px;
}

.sm_calendar_dateTitle:hover{
    cursor: pointer;
    background-color: rgb(161, 203, 252);
}

.sm_calendar_dateTitle span:nth-child(2){
    font-size: 12px;
}

.sm_calendar_listWrapper{
    height: calc(100% - 22px);
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    position: relative;
}

.sm_calendar_lastNextCaption{
    font-weight: normal !important;
    color: gray !important;
}

.sm_calendar_weekCount{
    text-align: center;
    vertical-align: middle;
    background-color: rgb(208, 242, 255);
}

#sm_calendar_absoluteDiv{
    position: absolute;
    /* visibility: hidden; */
    display: none;
    width: 220px;
    height: 120px;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: lightyellow;
    border: 1px solid black;
}

#sm_calendar_listTitleWrapper,
#sm_calendar_listLocationWrapper{
    width: 100%;
    height: 33.3%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#sm_calendar_listBtnWrapper{
    width: 100%;
    height: 33.3%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

#sm_calendar_listBtnWrapper button{
    border-radius: 3px;
    border: 1px solid gray;
    margin: 0 2px;
}

#sm_calendar_listBtnWrapper button:hover{
    cursor: pointer;
    background-color: rgb(156, 156, 156);
}

#sm_calendar_setCalendarBack{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
}

.sm_calendar_holiWrapper{
    background-color: rgb(201, 252, 247);
}

.sm_calendar_holidayColor{
    color: red !important;
}
/* 
    setCalendar 부분
*/
#sm_setCalendar{
    position: absolute;
    width: 80%;
    height: 90%;
    z-index: 1000;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#sm_setCalendar_btnWrapper{
    width: 100%;
    padding: 10px;
    background-color: rgb(221, 221, 221);
    border-bottom: 1px solid lightgray;
    height: 50px;
}

#sm_setCalendar_btnWrapper button{
    margin: 0 3px;
}

.sm_setCalendar_btn{
    border: 1px solid gray;
    background-color: white;
    border-radius: 3px;
    font-size: 16px;
    padding: 3px;
}

.sm_setCalendar_btn:hover{
    cursor: pointer;
    border: 1px solid black;
}

.sm_setCalendar_btn:last-child{
    float: right;
}

#sm_setCalendar_inputWrapper{
    width: 100%;
    padding: 10px;
    height: 120px;
}

#sm_setCalendar_detailWrapper{
    width: 100%;
    padding: 10px;
    height: 150px;
}

#sm_setCalendar_inputWrapper table,
#sm_setCalendar_detailWrapper table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#sm_setCalendar_inputWrapper th,
#sm_setCalendar_detailWrapper th{
    padding: 5px;
    text-align: left;
    background-color: rgb(221, 221, 221);
    border: 1px solid lightgray;
}

#sm_setCalendar_inputWrapper td,
#sm_setCalendar_detailWrapper td{
    border: 1px solid lightgray;
    padding: 0 5px;
}

#sm_setCalendar_inputWrapper td input[type="text"]{
    width: 100%;
}

#sm_setCalendar_textWrapper{
    padding: 10px;
    width: 100%;
    height: calc(100% - 170px);
}

#sm_setCalendar_tiny{
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
}

#sm_setCalendar_contentWrapper{
    padding: 10px;
    height: calc(100% - 200px);
}

#sm_setCalendar_content{
    border: 1px solid lightgray;
    height: 100%;
    overflow: auto;
    padding: 5px;
}

/* @media screen and (max-width: 1200px){
    #calendar-table td div{
        font-size: 12px;
    }
    
    .date{
        font-size: 13px;
    }
} */