<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>first node server</title>
</head>

<body>
    <h1>test</h1>
    <% for(var i=0; i<5; i++){ %>
        <p><%= i %>test</p>
    <% } %>
</body>

</html>