<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tiny.cloud/1/jzjfv95g444axux6aa5sawaysg95j91kuj4dyoye8xzhmngp/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ui test</title>

    <script>
        let tiny_textarea = {
            selector: '#edit',  // change this value according to your html
            menubar: 'file edit view insert format tools table help',
            menu: {
                file: { title: 'File', items: 'newdocument restoredraft | preview | print ' },
                edit: { title: 'Edit', items: 'undo redo | cut copy paste | selectall | searchreplace' },
                view: { title: 'View', items: 'code | visualaid visualchars visualblocks | spellchecker | preview fullscreen' },
                insert: { title: 'Insert', items: 'image link media template codesample inserttable | charmap emoticons hr | pagebreak nonbreaking anchor toc | insertdatetime' },
                format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat | formats blockformats fontformats fontsizes align | forecolor backcolor | removeformat' },
                tools: { title: 'Tools', items: 'spellchecker spellcheckerlanguage | code wordcount' },
                table: { title: 'Table', items: 'inserttable | cell row column | tableprops deletetable' },
                help: { title: 'Help', items: 'help' }
            },
            toolbar: 'undo redo | styleselect | bold italic | forecolor backcolor | leftalign centeralign rightalign bothalign',
            style_formats: [
                { title: 'Headings', items: [
                    { title: 'Heading 1', format: 'h1' },
                    { title: 'Heading 2', format: 'h2' },
                    { title: 'Heading 3', format: 'h3' },
                ]},
                { title: 'Bold', format: 'bold' },
                { title: 'Italic', format: 'italic' },
                { title: 'Underline', format: 'underline' },
                { title: 'Strikethrough', format: 'strikethrough' },
                { title: 'Superscript', format: 'superscript' },
                { title: 'Subscript', format: 'subscript' },
                { title: 'Code', format: 'code' }
            ],
            resize: 'both',
            width: '50%',
            height: 500,
            color_map: [
                "000000", "customBlack",
                "808080", "Gray",
                "FFFFFF", "White",
                "FF0000", "Red",
                "FFFF00", "Yellow",
                "008000", "Green",
                "0000FF", "Blue"
            ],
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'
            ],
            invalid_styles: 'color font-size',
            content_style: 'body{background-color: gray; color: white;}'
        }

        let tiny_div = {
            selector: '.tiny-div',
            inline: true,
            setup: function(editor){
                editor.on('click', function(e){
                    console.log('editor was clicked');
                })
            },
            init_instance_callback: function(editor){
                console.log(editor);
            }
        }

        tinymce.init(tiny_div);
        tinymce.init(tiny_textarea);
        tinymce.init({

        })
    </script>
</head>

<body>
    <form action="#" method="POST">
        <textarea name="text" id="edit">
        </textarea>
    </form>

    <div class='tiny-div' style="width: 500px; margin:150px 0;">
        TinyMCE Inline true test
    </div>

    <button class="custom-button">button</button>

    <script>

    </script>
</body>

</html>