<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tiny.cloud/1/jzjfv95g444axux6aa5sawaysg95j91kuj4dyoye8xzhmngp/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ui test</title>

    <script>
        tiny_textarea = {
            selector: '#edit',  // change this value according to your html
            menubar: 'file edit view insert format tools table help',
            toolbar: 'fontselect | fontsizeselect',
            resize: 'both',
            width: 700,
            min_width: '5vw',
            max_width: '50%',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'
            ],
            fontsize_formats: '11px 12px 14vw',
            fixed_toolbar_container: '#mytollbar'
        }

        tinymce.init(tiny_textarea);
    </script>
</head>

<body>
    <form action="#" method="POST">
        <textarea name="text" id="edit">
        </textarea>
    </form>

    <button class="custom-button">button</button>

    <script>

    </script>
</body>

</html>