<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tiny.cloud/1/jzjfv95g444axux6aa5sawaysg95j91kuj4dyoye8xzhmngp/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>tiny test</title>

    <script>
        var tiny_textArea = {
            selector: "#edit",
            width: 800,
            height: 350,
            resize: 'both',
            menubar: 'file edit view insert format tools table help',
            toolbar_sticky: true,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'
            ],
            init_instance_callback : function(editor) {
                console.log(editor);
            }
        }

        tinymce.init(tiny_textArea);
    </script>
</head>
<body>
    <form action="#" method="POST">
        <textarea name="text" id="edit">
        </textarea>
    </form>
    <button ></button>

    <script>
    </script>
</body>
</html>